ol{
    font-size: 20px;
    list-style: none;
}


.border{
    
    border: 2px solid #91bddd;
    padding: 10px;
    font-size: 22px;
    width: fit-content;   
}

li,a:link{
   color: #fff;
   text-decoration: none;
   
}
a:visited{
    color:#fff;
    text-decoration: none;
}
.main{
    
    width: 50% ;
    background-color: #8cd1b9;
    /*padding: 4%;*/
    /*text-align: center;*/
    color:#fff;
    height: 70%;
    
    
    margin: 0 auto;
    margin-top: 4%; 
}
.heading{
    text-align: center;
    width: 100%;
}
